doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/Main.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300&display=swap')
  body
    block content
